<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CAMERA</title>
    <style>
        body {
            text-align: center;
        }
    </style>
</head>

<body>

    <h1>CAMERA</h1>

    <hr>

    <form method="post" id="todo-form">
        <button type="button" id="up" value="up">up</button>
        <button type="button" id="down" value="down">down</button>
        <button type="button" id="left" value="left">left</button>
        <button type="button" id="right" value="right">right</button>
    </form>

    <hr>

    <!--Jquery Cdn -->
    <script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
        
    <script type="text/javascript">
        let interval = 160;
        let timeout = 0;
        let counter = 0;
        $('#up').mousedown(function () {
            timeout = setInterval(function () {
                counter += 1;
                console.log("holding " + counter);

                $.ajax({
                    type: 'POST',
                    url: '/',
                    data: {
                        direction: 'up'
                    },
                    success: function () {
                        console.log('sent');
                    }
                });
            }, interval);
        });

        $('#down').mousedown(function () {
            timeout = setInterval(function () {
                counter += 1;
                console.log("holding " + counter);

                $.ajax({
                    type: 'POST',
                    url: '/',
                    data: {
                        direction: 'down'
                    },
                    success: function () {
                        console.log('sent');
                    }
                });
            }, interval);
        });

        $('#left').mousedown(function () {
            timeout = setInterval(function () {
                counter += 1;
                console.log("holding " + counter);

                $.ajax({
                    type: 'POST',
                    url: '/',
                    data: {
                        direction: 'left'
                    },
                    success: function () {
                        console.log('sent');
                    }
                });
            }, interval);
        });

        $('#right').mousedown(function () {
            timeout = setInterval(function () {
                counter += 1;
                console.log("holding " + counter);

                $.ajax({
                    type: 'POST',
                    url: '/',
                    data: {
                        direction: 'right'
                    },
                    success: function () {
                        console.log('sent');
                    }
                });
            }, interval);
        });

        $(document).mouseup(function () {
            clearInterval(timeout);
            counter = 0;
            return false;
        });
        
    </script>
</body>

</html>
